* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}

.matrix-grid {
  display: grid;
  
  grid-gap: 6px;
}

.grid-item {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  transition: .3s;

}

.grid-start {
  background-color: green;
}

.grid-end {
  background-color: red;
}

.grid-open {
  background-color: lightblue;
}

.grid-travelled {
  background-color: orange;
}
.grid-blocked {
  background-color: orangered;
}

.grid-end-reached {
  background-color: deeppink;
}

.grid-backtrack {
  background-color:greenyellow;
}

.selection {
  margin-top: 20px;
}